.about-author {
    background-color: $bg-color;
    width: 100%;
}

.about-author .wrapper {
    display: flex;
    justify-content: space-between;
}

.about-author__img {
    width: 30rem;
    height: auto;
    margin: 4rem;
}

.about-author__wrapper {
    margin: 4rem;
}

.about-author__title, .about-author__txt {
    color: $header-color;
}

.about-author__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about-author__txt {
    line-height: 2rem;
}