.modal__popup-add-recipe {
    padding: 2rem;
    border: 0.1rem solid lighten($nav-color, 30%);
    z-index: 2;
    background-color: $bg-color;
    position: fixed;

    input, textarea {
        border: 0.15rem solid lighten($nav-color, 40%);
        font-size: 1.5rem;
        color: $nav-color;
        padding: 0.25rem;
    }
}

.modal__popup-add-recipe__header {

    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid lighten($nav-color, 30%);
    padding-bottom: 1rem;

    h2 {
        color: $btn-color;
        text-transform: uppercase;
    }
}

.modal__popup-add-recipe__header_btn {
    width: 10rem;
    padding: 0.5rem;
    background-color: $btn-color;
    color: $bg-color;
    font-weight: 700;
    border: none;
    cursor: pointer;
}


.modal__popup-add-recipe__new {
    padding: 1rem;
}

.modal__popup-add-recipe__new__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: $nav-color;
    font-size: 1.5rem;

    h3 {
        width: 20rem;
        margin-right: 2rem;
    }

    input, textarea {
        width: 100%;
        height: 3rem;
    }
}

.modal__popup-add-recipe__add-list {
    display: flex;
    justify-content: space-between;
    color: $nav-color;

    
}

.modal__popup-add-recipe__add-list__content {

    margin: 1rem;

    h3 {
        border-bottom: 0.2rem solid lighten($nav-color, 30%);
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    ul, ol {
        padding-left: 2rem;
        height: 10rem;
        overflow-y: auto;
        overflow-anchor: none;
        max-width: 37rem;

        li {
            font-size: 1.2rem;
            color: $nav-color;
            padding: 0.25rem;

            span {
                margin-right: 0.5rem;
            }
        }
    }

    .fa-edit {
        color: $warning-msg;
        margin-right: 0.25rem;
    }

    .fa-trash-alt {
        color: $delete-color;
    }

    .modal__popup-add-recipe__add-list__content__container {
        display: flex;
        margin-bottom: 3rem;

        input, textarea {
            width: 35rem;
            height: 5rem;
        }

        button {
            margin-left: 0.25rem;
            height: 2rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .fa-plus-square {
            color: $success-msg;
            font-size: 2rem;
            padding: 0;
            margin: 0;
        }

    }
}

.modal__popup-add-recipe__warning {
    color: $warning-msg;
    font-weight: 700;
}