
.modal__btn {
    border: 0.15rem dotted $success-msg;
    color: $success-msg;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 1rem;

    span {
        margin-bottom: 1rem;
    }
}

.fa-plus-square {
    font-size: 4rem;
    margin: 1rem 3rem;
}