.carousel__container {
    width: 100%;
    background-color: $bg-color;
    font-size: 1.5rem;
}

.carousel__slide {
    width: 100%;
    height: calc(100vh - #{$header-height});

    background-color: $bg-color;
    color: $header-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem 20rem;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1.1rem;
    }

    p {
        line-height: 1.5;
    }
}

.control-dots,
.dot,
.carousel-status {
    display: none;
}

.carousel.carousel-slider .control-arrow:hover {
    background: transparent !important; 
}

.control-prev:before {
    background-image: url($icon-path+'arrow-previous.svg') !important;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    content: "";
    width: 30px;
    height: 30px;
}

.control-next:before {
    background-image: url($icon-path+'arrow-next.svg') !important;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    content: "";
    width: 30px;
    height: 30px;
}


