.first-app-section {
    width: 92%;
    height: 45rem;
    padding: 3rem;
    background-color: $bg-color;
    border: 1px dashed $table-font;
    color: $nav-color;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.first-app-section__title-1, .first-app-section__title-2, .first-app-section__txt {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.first-app-section__title-1 {
    font-size: 2.5rem;
    margin-top: 5rem;
}

.first-app-section__title-2 {
    font-size: 1.5rem;
}

.first-app-section__input {
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    border: 1.25px solid $table-font;
    padding: 0.5rem;
}

.first-app-section__btn {
    font-size: 1.2rem;
    background-color: $btn-color;
    border: 1px solid $btn-color;
    color: #fff;
    padding: 0.5rem;
    width: 7rem;
    margin-bottom: 1rem;
}