.form-subscription {
    width: 100%;
    background-color: $nav-color;
}

.form-subscription__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.form-subscription__title {
    color: $bg-color;
    font-size: 2rem;
}

.form-subscription__form {
    height: 3rem;
    display: flex;
}

.form-subscription__form__input {
    width: 15rem;
    padding: 0.5rem;
}

.form-subscription__form__btn {
    width: 6rem;
    background-color: $btn-color;
    color: $bg-color;
    font-weight: 700;
    
}

.form-subscription__form__input, .form-subscription__form__btn {
    height: 100%;
    border: none;
}

.form-subscription__info {
    text-align: end;
    color: $success-msg;
    font-weight: 700;
    margin-right: 2rem;
    margin-top: 1rem;
}