.wrapper.app {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 7rem minmax(62rem, auto);
    padding: 0;
}

.header-app {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: $header-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 3rem;
}

.header-app__wrapper {
    display: flex;
    margin-right: 3rem;
}

.header-app__wrapper__name {
    line-height: 2rem;
    color: $bg-color;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

.fa-user-circle {
    color: $btn-color;
    font-size: 3.5rem;
}

.app-side {
    grid-column: 1/4;
    grid-row: 2/-1;
    background-color: $nav-color;
}

.app-side__nav__list {
    list-style: none;

    li {
        position: relative;
       
        a {
            text-decoration: none;
            display: inline-block;
            line-height: 5rem;
            height: 5rem;
            font-size: 1.5rem;
            padding-left: 1rem;
            color: $bg-color;
            text-align: start;
            width: 100%;
        }
    }
}

.active-link {
    border-left: 0.35rem solid $btn-color;
    font-weight: 700;
    
    &:after {
        position: absolute;
        padding-right: 1.5rem;
        content: ">";
        font-weight: 700;
        font-size: 1.5rem;
        color: $btn-color;
        right: 0;
    }
    
}

.app-content {
    grid-column: 4/-1;
    grid-row: 2/-1;
    min-height: 62rem;
    background-image: url("../images/bcg-app.png");
    background-size: cover;
    position: relative;
}

