@import "./variables";
@import "./reset";

div.plan-list__container {
    width: 96.43rem;
    height: 53.5rem;

    background-color: $bg-color;
    border: 0.07rem dashed $nav-color;
    margin: 3rem auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.plans-header {
    width: 91rem;
    height: auto;

    background-color: white;
    border-bottom: 0.15rem solid $table-font;
    margin-bottom: 1rem;
    padding: 1rem 0 0.2rem 0;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: $btn-color;
        font-size: 1.74rem;
        font-weight: bold;
    }
}

span.fa-plus-square {
    border-radius: 0.5rem;
    color: $success-msg;
    font-size: 2.14rem;
    margin: 0;
}

div.plans-info {
    width: 90rem;
    height: auto;

    background-color: white;
    border-bottom: 0.1rem solid $table-font;
    border-top: 0.1rem solid $table-font;

    display: flex;

    p {
        color: $nav-color;
        font-size: 1.45rem;
        font-weight: bold;
        padding: 0.5rem 0 0 0.5rem;
    }
}

div.plans__list {
    width: 90rem;
    height: 43rem;

    border-bottom: 0.1rem solid $table-font;
    overflow-x: auto;

    display: flex;
    align-items: flex-start;

    span {
        padding: 0.5rem 0 0 0.5rem;
    }
}

p.plans__info__id,
div.plans__id {
    width: 8rem;
}

p.plans__info__name,
div.plans__name {
    width: 15rem;
}

p.plans__info__description,
div.plans__description {
    width: 50rem;
}

p.plans__info__week,
div.plans__week {
    width: 7.5rem;
}

p.plans__info__action,
div.plans__action {
    width: 8rem;

    div {
        height: 8.25rem;
        border-bottom: 0.1rem solid $table-font;

        display: flex;
        justify-content: flex-start;

        &:last-child {
            border-bottom: none;
        }
    }
}

div.plans {
    color: $table-font;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    span {
        height: 8.25rem;
        width: 100%;

        border-bottom: 0.1rem solid $table-font;
        font-size: 1.15rem;
        overflow-x: auto;

        &:last-child {
            border-bottom: none;
        }
    }
}

span.fa-edit {
    width: 3.5rem;
    padding: 0;
}

span.fa-edit:before {
    color: $btn-color;
    font-size: 1.8rem;
}

span.fa-trash-alt {
    width: 3.5rem;
}

span.fa-trash-alt:before {
    color: rgb(200, 0, 0);
    font-size: 1.8rem;
    padding-left: 0.5rem;
}