@import "./variables";
@import "./reset";

div.recipes-list__container {
    width: 90%;
    height: auto;

    background-color: $bg-color;
    border: 0.07rem dashed $nav-color;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.recipes__header {
    width: 95%;
    height: auto;

    background-color: white;
    border-bottom: 0.17rem solid $table-font;
    margin-bottom: 1rem;
    padding: 1rem 0 0.2rem 0;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: $btn-color;
        font-size: 1.74rem;
        font-weight: bold;
    }
}

span.fa-plus-square {
    border-radius: 0.5rem;
    color: $success-msg;
    font-size: 2.14rem;
    margin: 0;
}

div.recipes__info,
div.recipes__list {
    width: 93%;
    height: auto;

    background-color: white;
    border-top: 0.1rem solid $table-font;
    border-bottom: 0.1rem solid $table-font;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: $header-color;
        font-size: 1.45rem;
        font-weight: bold;
        padding: 0.5rem;
    }
}

div.recipes__list {
    border-top: none;
    display: flex;
    align-items: flex-start;

    p {
        font-size: 1.35rem;
        font-weight: 200;
    }
}

p.recipes__info__id,
p.recipes__id {
    width: 10%;
}

p.recipes__info__name,
p.recipes__name {
    width: 25%;
}

p.recipes__info__description,
p.recipes__description {
    width: 55%;
}

p.recipes__info__action,
p.recipes__action {
    width: 10%;
}

p.recipes__action {
    display: flex;
    justify-content: flex-start;
}

span.fa-edit {
    color: $btn-color;
    font-size: 1.65rem;
    padding-right: 1rem;
}

span.fa-trash-alt {
    color: rgb(200, 0, 0);
    font-size: 1.65rem;
}