@import "./variables";
@import "./reset";

div.recipes-list__container {
    width: 96.43rem;
    height: 53.5rem;

    background-color: $bg-color;
    border: 0.07rem dashed $nav-color;
    margin: 3rem auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.recipes__header {
    width: 91rem;
    height: auto;

    background-color: white;
    border-bottom: 0.15rem solid $table-font;
    margin-bottom: 1rem;
    padding: 1rem 0 0.2rem 0;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: $btn-color;
        font-size: 1.74rem;
        font-weight: bold;
    }
}

span.fa-plus-square {
    border-radius: 0.5rem;
    color: $success-msg;
    font-size: 2.14rem;
    margin: 0;
}

div.recipes__info {
    width: 90rem;
    height: auto;

    background-color: white;
    border-bottom: 0.1rem solid $table-font;
    border-top: 0.1rem solid $table-font;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: $header-color;
        font-size: 1.45rem;
        font-weight: bold;
        padding: 0.5rem;
    }
}

div.recipes__list {
    height: 600px;
    width: 90rem;
    margin: 0 auto;

    border-bottom: 0.1rem solid $table-font;
    border-top: none;
    overflow-x: auto;

    display: flex;
    align-items: flex-start;

    span {
        height: 7.15rem;

        color: $table-font;
        font-size: 1.35rem;
        padding: 0.5rem 0 0 0.5rem;
        overflow-x: auto;
    }
}

p.recipes__info__id,
div.recipes__id {
    width: 7rem;

    span {
        border-bottom: 0.1rem solid $table-font;

        &:last-child {
            border-bottom: none;
        }
    }
}

p.recipes__info__name,
div.recipes__name {
    width: 27.86rem;

    span {
        border-bottom: 0.1rem solid $table-font;

        &:last-child {
            border-bottom: none;
        }
    }
}

p.recipes__info__description,
div.recipes__description {
    width: 50.36rem;

    span {
        border-bottom: 0.1rem solid $table-font;

        &:last-child {
            border-bottom: none;
        }
    }
}

p.recipes__info__action {
    width: 10rem;
}

div.recipes__action {
    width: 4.5rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
        height: 7.15rem;
        width: 100%;

        border-bottom: 0.1rem solid $table-font;
        padding-top: 0.5rem;

        &:before {
            font-size: 1.8rem;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

div.recipes {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

span.fa-edit {
    color: $btn-color;
}

span.fa-trash-alt {
    color: rgb(200, 0, 0);
}