@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');

$text-font: 'Open Sans';

$logo-font: "Charmonman";


$nav-color: #5B605F;
$header-color: #4a4a49;
$btn-color: #FF6600;
$bg-color: #FFFFFA;
$info-msg:#3498DB;
$warning-msg:#FFB03B;
$success-msg:#468966;
$delete-color:#BD4932;
$table-font:#A1A194;