@import "./reset";
@import "./variables";
@import "./landing-page";
@import "./header";
@import "./carousel";
@import "./about-app";
@import "./form-to-subscription";
@import "./about-author";
@import "./footer";
@import "./main-app";
@import "./first-app-section";
@import "./add-recipe-schedule";
@import "./second-app-section.scss";
@import "./add-schedule";
